

.btn{
  position: relative;

  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;

  border: none;
  background: transparent;

  &:hover{
    cursor: pointer;
  }

  &:focus{
    outline: none;
  }

  &--menu{

    @media (min-width: 1300px) {
      display: none;
    }

    &>span{
      display: block;
      width: 40px;
      height: 2px;
      margin: 0 auto;

      background: #FFFFFF;
      box-shadow: 0 12px 0 #FFFFFF, 0 -12px 0 #FFFFFF;
      transition: 0.5s;
    }

    &:focus,
    &:hover{
      &>span {
        background: #B78A3F;
        box-shadow: 0 16px 0 #B78A3F, 0 -16px 0 #B78A3F;
      }
    }
  }

  &--close{
    transition: 0.5s;
    &::after,
    &::before{
      position: absolute;
      top: 0;

      content: "";

      width: 2px;
      height: 45px;

      background: #FFFFFF;
      transition: 0.5s;
    }

    &::after{
      transform: rotate(45deg);
    }

    &::before{
      transform: rotate(-45deg);
    }
  }

  &--fixed{
    position: fixed;
    top: 20px;
    right: 20px;
    z-inde: 100;
  }

  &:focus,
  &:hover{
    transform: rotate(360deg);
    &::after,
    &::before {
      background: #B78A3F;
    }
  }
}
