.facts{

  padding: 72px 0 23px;

  @media (min-width: 576px){
    padding: 100px 0 50px;
  }

  &__title{
    margin-bottom: 35px;

    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #fff;

    @media (min-width: 576px){
      font-size: 35px;
      line-height: 41px;
    }
  }

  &__slider{
    outline: 1px solid red;
  }

  &__items{
    width: 274px;
    //min-height: 338px;
    margin: 0 auto 40px;
    outline: 1px solid green;

    @media (min-width: 1440px){
      width: 387px;
      //height: auto;
    }
  }

  &__img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;

    @media (min-width: 576px){
      margin-bottom: 40px;
    }
  }

  &__desc{
    padding: 0 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #fff;

    @media (min-width: 576px){
      font-size: 27px;
      line-height: 32px;
    }
  }
}

.facts__slider{
  position: relative;
  width: 100%;

  @media (min-width: 576px){
    width: calc(100% - 120px);
    margin: 0 auto;
  }

  @media (min-width: 1400px){
    width: 100%
  }
  //=========== swiper =================
  & .swiper-button-prev,
  & .swiper-button-next {
    display: none;
    top: 40%;
    color: #B78A3F;

    @media (min-width: 576px){
      display: block;
    }
  }

  & .swiper-button-prev {
    left: -50px;
  }

  & .swiper-button-next {
    right: -50px;
  }

  &  .swiper-button-disabled {
    opacity: 0;
  }

  & .swiper-pagination-bullet{
    width: 12px;
    height: 12px;

    border: 1px solid #B78A3F;

    background: transparent;
    opacity: 1;
    transition: 0.5s;

    @media (min-width: 576px){
      width: 24px;
      height: 24px;
    }
  }

  & .swiper-container-horizontal  .swiper-pagination-bullet {
    margin: 0 8px;

    @media (min-width: 576px){
      margin: 0 20px;
    }
  }

  & .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    margin: 0 8px;
    bottom: 5px;

    @media (min-width: 576px){
      margin: 0 20px;
      bottom: 10px;
    }
  }

    &  .swiper-pagination-bullet-active {
    background: #B78A3F;
  }
}