.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  //justify-content: space-between;

  min-height: 100vh;
  padding: 30px 15px 40px;

  background: #737373;
  box-shadow: 10px 0 5px #737373;
  animation: toBottom 0.7s ease-in-out;

  &__control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 170px;
  }

  &__links{
    display: flex;
    flex-direction: column;

    max-width: 336px;
    margin: 0 auto;
    margin-bottom: 230px;

    text-align: center;
  }

  &__item {
    position: relative;

    margin-bottom: 40px;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-decoration: none;
    color: #fff;

    @media (min-width: 576px) {
      font-size: 19px;
      line-height: 22px;
    }

    &:after {
      content: "";

      position: absolute;

      display: block;

      width: 0;
      height: 2px;

      box-shadow: -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;

      transition: all 0.5s ease;
    }

    &:after {
      bottom: 0;
      left: 50%;
      background: #B78A3F;
    }

    &:focus,
    &:hover {
      color: #B78A3F;
      background: transparent;
      border-color: transparent;
      box-shadow: none;

      &:after {
        left: 0;
        width: 100%;

        transition: all 0.5s ease;
      }
    }
  }

  &__copy{
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;

    &>p{
      margin-bottom: 30px;
    }

    &>a{
      display: block;
      text-decoration: none;
      color: #FFFFFF;

      &:hover{
        color: #B78A3F;
      }
    }
  }
}


@keyframes toBottom {
  0% {
    top: -200vh;
  }
  100% {
    top: 0;
  }
}